.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexcolumnalt {
  display: flex;
  flex-direction: column;
}
.center {
  margin: auto;
}
@media only screen and (min-width: 400px) {
  header img {
    width: 20em;
  }
  .main .content .homeimgs {
    width: 25em;
  }
  .main .content .homeimgs img {
    width: 20em;
  }
}
@media only screen and (min-width: 530px) {
  header img {
    width: 30em;
  }
  .main .content .homeimgs {
    width: 32em;
  }
  .main .content .homeimgs img {
    width: 30em;
  }
}
@media only screen and (min-width: 730px) {
  header nav a {
    font-size: 1.2em;
  }
  .main {
    border-radius: 15%;
  }
  .main .heading h1 {
    font-size: 3em;
  }
  .main .heading h3 {
    font-size: 1.8em;
  }
  .main .heading .otherlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main .content .homeimgs {
    width: 50em;
  }
}
@media only screen and (min-width: 850px) {
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header nav .icon {
    display: none;
  }
  header nav #desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header nav #desktop a {
    padding: 14px 2.5em;
  }
  .main .alt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main .alt .list {
    padding: 1em 1.5em;
  }
  .main .alt .shootlist {
    padding: 1em 1.5em;
  }
  .main .alt .homeimgs {
    width: 17em;
  }
  .main .alt .homeimgs img {
    width: 12em;
  }
}
@media only screen and (min-width: 1000px) {
  header img {
    width: auto;
  }
  header nav #desktop a {
    padding: 14px 3.5em;
  }
  .main .alt .list {
    padding: 1em 2.5em;
  }
  .main .alt .homeimgs {
    width: 22em;
  }
  .main .alt .homeimgs img {
    width: 18em;
  }
}
@media only screen and (min-width: 1330px) {
  header nav a {
    padding: 14px 35px;
  }
}
